

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}
.App {
  background-color: #2e2e2e;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  margin-left: 20px;
}
.App-link {
  color: #61dafb;
}
.custom-navbar {
  display: flex;
  padding: 100px 2rem .25rem 2rem;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: clamp(300px, 80%, 700px);

}
.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
