

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}
.App {
  background-color: #282c34;
  color: white;
  text-align: center;
}
.item {
  margin-left: 20px;
}
.App-link {
  color: #61dafb;
}
.navbar {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
