.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 55px;
    background-color: var(--background-color1);
  }
  .icon:hover {

  }
  .icon {

  }
  .icon-container {
      display: flex;
  }
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    margin: 10px;
}
.icon:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

/* @keyframes animateLink {
    0% {transform: translateY(0px);}
    10% {transform: translateY(-10px);}
    20% {transform: translateY(0);}
    30% {transform: translateY(-10px);}
    40% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
  } */

.copy-message {
    position: fixed;
    left: calc(50% - 100px);
    top: calc(50% - 30px);
    width: 240px;
    height: 60px;
    border: 1px solid grey;
    background-color: var(--background-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--foreground-color2);
    animation: disappear 3s linear;
    opacity: 0;
    z-index: 10;
}
.copy-message > span {
    font-family: 'Play', sans-serif;
}
@keyframes disappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.brand {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand > span {
    color: var(--foreground-color2);
    font-family: 'Play', sans-serif;
}
