.welcome-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background-color: var(--background-color2);
    width: 100%;
    min-width: 300px;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25);
}

.desk-img {
    width: 375px;
    height: 375px;
    margin: 25px;
}
.welcome-content > div {
    width: 400px;
}
.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.word-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
}
.fswd {
    color: var(--foreground-color2);
    font-size: 38px;
    margin: 0;
    align-self: flex-start;
    text-align: left;
    margin-left: 80px;
}

.name-span {
    color: #3AF7F0;
    font-weight: 800;
    font-size: 54px;
    margin-left: 50px;
}
.under-msg {
    color: var(--foreground-color2);
    margin-left: 55px;
    margin-top: 50px;
    font-size: 24px;
}
.index-buttons {
    margin-top: 50px;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.index-button {
    border-radius: 24px;
    border: 0 solid black;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), -1px -1px 1px rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 5px 10px;
}
.index-button:first-child {
    margin-right: 20px;
}
.index-button:last-child {
    margin-left: 20px;
}
.index-button-div {
    margin: 0 0 50px 30px;
}
.index-button:active {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, -1px -1px 4px rgba(255, 255, 255, 0.25) inset;
}
@media only screen and (max-width: 500px) {
    .desk-img {
        width: 300px;
        height: 300px;
    }
}
@media only screen and (max-width: 880px) {
    .welcome-container {
        flex-direction: column;
    }
    .welcome-content > div {
        width: 100%;
    }
    .word-wrapper {
        margin-top: 0;
        margin-right: 3em;
    }
    .index-button-div {
        margin: 0 0 50px 0px;
    }
    .index-buttons {
        margin-left: 20px;
    }
}






/* Studying Section */



.studying-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 475px; 
    margin-top: 40px;
}

.studying-wrapper > h1 {
    text-align: center;
    font-size: 32;
    transition: all 0.5s;
}
.studying-wrapper > h1 > span:nth-child(2) {
    color: #3AF6EF;
}
.studying-wrapper > h1 > span {
    color: var(--foreground-color2);
}
.arms-div {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color2);
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25);
}
.arms-inner-div {
    width: 90%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--foreground-color2);
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25);
}
.arms-inner-div > a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.arms-inner-div > a > img {
    width: 90%;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.mountain-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color2);
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25);
    width: 800px;
}
.mountain-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.summit-text {
    color: var(--foreground-color2);
    margin-top: 1em;
    border-right: 2px solid #3AF6EF;
    overflow: hidden;
    animation: moveRight 2s steps(30), borderBlink 1000ms infinite;
    font-size: 24px;
    white-space: nowrap;
}
.cursor {
    height: 100%;
    width: 2px;
    color: #3AF6EF;
  }

@keyframes moveRight {
    0% {
      width: 0%;
    }
  
    100% {
      width: 340px;
    }
  }
  
  @keyframes borderBlink {
    0%,
    100% {
      border-right-color: transparent;
    }
  
    50% {
      border-right-color: #3AF6EF;
    }
  }

.mountains {
    margin-top: 2em;
    width: 100%;
}

/* Interests */

.interests-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 500px;
}
.interests-wrapper > h1 {
    text-align: center;
    font-size: 32;
    transition: all 0.5s;
}
.interests-wrapper > h1 > span:nth-child(2) {
    color: #3AF6EF;
}
.interests-wrapper > h1 > span {
    color: var(--foreground-color2);
}
.interests-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    background-color: var(--background-color2);
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 20px;
    margin-bottom: 80px;
}
.interest {
    margin: 6px 5px;
    padding: 2.5px;
    border-radius: 2px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right top;
}
.interest:hover {
    animation: border-dance 1s infinite linear;
    cursor: pointer;
}
@keyframes border-dance {
    0% {
      background-position: left top, right bottom, left bottom, right top;
    }
    100% {
      background-position: left 15px top, right 15px bottom , left bottom 15px , right top 15px;
    }
  }
.interest > a {
    text-decoration: none;
    font-size: 21px;
    color: var(--foreground-color2);
}
@media only screen and (max-width: 900px) {
    .mountain-wrapper {
       width: 90%;
    }
    .mountains {
        width: 125%
    }
}
@media only screen and (max-width: 600px) {
    .studying-wrapper {
        width: 350px;
    }
    .studying-wrapper > h1 {
        font-size: 24;
    }
    .interests-wrapper {
        width: 80%;
    }
    .interests-container {
        justify-content: center
    }
};
