
.blog-post {
    width: 800px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blog-date {
    color: var(--foreground-color2);
    opacity: 0.6;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}
.blog-title {
    margin: 20px 0;
    color: var(--foreground-color2);
    font-size: 52px;
    text-align: center;
    font-weight: 700;
}
.blog-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.blog-side{
    width: 33%;
}
.blog-body {
    width: 67%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.blog-body-image {
    height: 200px;
    border-radius: 12px;
    margin-top: 4em;
}
.blog-body-image:hover {
    cursor: pointer;
}
.blog-body-image > img {
    height: 200px;
    border-radius: 12px;
}
.blog-body-text {
    width: 67%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.blog-content-post-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 2em;
}
.blog-content-post-image > img {
    height: 200px;
    border-radius: 12px;
}
.content-piece-header-first {
    text-align: center;
    margin: 0em !important;
    margin-top: 2em !important;
    color: var(--main-color);
}
.content-piece-header {
    text-align: center;
    color: var(--foreground-color2);
}
.content-piece-header-h3 {
    margin-top: 0px !important;
    text-align: center;
    color: var(--foreground-color2);
}
.content-piece-paragraph {
    color: var(--foreground-color2);
    text-align: center;
}
.content-piece-i {
    margin-bottom: 1.5em;
}
.download-file {
    border-radius: 24px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 1.0em !important;
    margin: 10px;
    margin-top: 5px !important;
}
.download-file:hover {
    cursor: pointer;
}
.download-file > .dl {
    color: var(--background-color1) !important;
    font-size: 20px;
}
.copy-button {
    margin-left: 0.5em;
    padding: 0.5em;
    border-radius: 2px;
    display: grid;
    place-items: center;
    background-color: gray;
    color: black;
    border: 0px solid black;
    outline: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -2px -2px 2px rgba(0,0,0,0.1);
}
.copy-button:active {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25) inset, -2px -2px 2px rgba(0,0,0,0.25) inset;
}
.copy-button:hover {
    cursor: pointer;
}
.content-piece-codeblock {
    background-color: var(--foreground-color2);
    color: var(--background-color2);
    padding: 0.8em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}
.blog-side-about {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}
.blog-side-image-div {
    overflow: hidden;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin-right: 1em;
}
.blog-side-image-div:hover {
    cursor: pointer;
}
.blog-side-name-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}
.blog-post-text {
    max-width: 700px;
    width: 80%;
    padding: 20px;
    color: var(--foreground-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.name {
    color: var(--foreground-color2);
    margin-bottom: 2.5px;
}
.at {
    color: var(--main-color);
    margin-top: 2.5px;
}
.blog-side-tags {
    padding: 20px 20px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.tags-title {
    margin-bottom: 0.3em;
    color: var(--foreground-color2);
}
.blog-tag {
    margin: 0.5em 0.3em 0.3em 0;
    color: var(--main-color);
}
.blog-side-bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
}
.small-title {
    color: var(--main-color);
    opacity: 0.6;
    margin-bottom: 10px;
}
.back-to-blog {
    margin-top: 10px;
    margin-left: 10px;
    color: var(--main-color);
    font-size: 16.5px;
}
.back-to-blog:hover {
    cursor: pointer;
}
.back-to-blog:hover > svg {
    animation: arrowLeftAnimation 2s ease-out infinite 0.5s;
}
@keyframes arrowLeftAnimation {
    0% {transform: translateX(0px) translateY(2px);}
    10% {transform: translateX(-10px) translateY(2px);}
    20% {transform: translateX(0px) translateY(2px);}
    30% {transform: translateX(-10px) translateY(2px);}
    40% {transform: translateX(0px) translateY(2px);}
    100% {transform: translateX(0px) translateY(2px);}
}
.back-arrow-icon {
    transform: translateY(2px);
}
@media only screen and (max-width: 900px) {
    .blog-post {
        width: 80%;
    }
    .blog-wrap {
        flex-direction: column;
    }
    .blog-side {
        width: 100%;
    }
    .blog-side-tags {
        align-items: center;
    }
    .blog-side-bottom {
        align-items: center;
    }
    .blog-body {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .blog-title {
        font-size: 36px;
    }
}





.under-constr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5em 3em;
}
.under-constr-img {
    width: 80%;
}
.under-constr-h1 {
    color: var(--foreground-color2);
    width: 80%;
    text-align: center;
}
.go-back {
    width: 50px;
    height: 50px;
    color: #1F2424;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1em;
    background-color: var(--main-color);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25), -4px -4px 4px rgba(0,0,0,0.25);
}
.go-back:active {
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25) inset, -4px -4px 4px rgba(0,0,0,0.25) inset;
}
.go-back:hover {
    cursor: pointer;
}



@media only screen and (min-width: 600px) {
    .under-constr-img {
        width: 60%;
        
    }
}