.projects-page {
    width: 800px;
    margin-bottom: 60px;
}
.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px 0;
}
.project {
    height: 390px;
    width: 360px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 60px;
}
.projects > div {
    transform: scale(1);
    transition: transform 0.2s ease-out;
    
}
.projects > div:hover {
   
    transition: transform 0.2s ease-out;
}
.project-image {
    background-color: white;
    height: 205px;
    z-index: 1;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    overflow: hidden;
}
.project-image > a > img {
    height: 100%;
}
.project-image:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease-out;
}
.project-description {
    padding: 0 36px;
    background-color:#2e2e2e;
    z-index: 2;
    width: 80%;
    height: 158px;
    margin-top: -10px;
    border-radius: 6px;
    border: 1px solid white;
    overflow: hidden;
}
.project-description > h1 {
    font-size: 22px;
    color: white;
}
.project-description > p {
    font-size: 14px;
    color: white;
}
.project-description > a {
    text-decoration: none;
}
.project-description > a > span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}
.project-description > a > span > svg {
    margin-top: 3px;
    margin-left: 4px;
    
}
.learn-more {
    color: #32a2c4;
    font-size: 20px;
}
.learn-more:hover > svg {
    animation: arrowRightAnimation 2s ease-out infinite 0.5s;
}
.languages {
    width: 96%;
    background-color: var(--foreground-color2);
    border: 1px solid var(--background-color2);
    height: 30px;
    border-radius: 4px;
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 8px;
}
.language:first-child {
    margin-left: 12px;
}
@media only screen and (max-width: 900px) {
    .projects-page {
        width: 80%;
    }
    .projects {
        justify-content: center;
    }
    .project {
        margin: 0 0 2em 0;
    }
}
@media only screen and (max-width: 500px) {
    .projects > div {
        transform: scale(0.9);
    }
    .projects > div:hover {
        transform: scale(1);
    }
}
@keyframes arrowRightAnimation {
    0% {transform: translateX(0px);}
    10% {transform: translateX(10px);}
    20% {transform: translateX(0px);}
    30% {transform: translateX(10px);}
    40% {transform: translateX(0px);}
    100% {transform: translateX(0px);}
}